<ng-container *ngIf="state === 'initial'">
  <form>
      <button *ngIf="!this.formData.meetingID" (click)="this.initNew()">Neue Abstimmung einrichten</button>
      <button *ngIf="this.isVoter()" (click)="this.joinAsVoter()">Abstimmung starten</button>
      <button *ngIf="this.isAdmin()" (click)="this.joinAsAdmin()">Als Administrator beitreten</button>
      <br/>
      <br/>
      Meeting-ID:
      <input type="text" name="meetingID" [(ngModel)]="this.formData.meetingID" />
  </form>
</ng-container>
<ng-container *ngIf="state === 'chooseModel'">
  Modell auswaehlen
</ng-container>
<ng-container *ngIf="state === 'voter'">
  <div class="divInMiddle" *ngIf="this.participant.hasNoTopVote() && this.participant.voteSummary.stableItems.length > 0">
    Welcher der Vorschläge ist aus Ihrer Sicht am wichtigsten?

    <form name="topVoteForm">
      <table>
        <tr *ngFor="let item of this.participant.voteSummary.stableItems; trackBy:itemId">
          <td>
            <input type="radio" name="topVote" value="{{item.id}}" id="{{item.id}}" />
          </td>
          <td>
            <label for="{{item.id}}"><b>{{item.boldText}}</b>{{item.text}}</label>
          </td>
        </tr>
      </table>
      <button (click)="this.voteForTop()">Abstimmen</button>
    </form>
  </div>
  <div class="divInMiddle" *ngIf="this.participant.hasFurtherItems() && !this.participant.hasNoTopVote()">
    <p class="item" [style.background-color]="this.getCurrentItemColor()">
      <b>{{this.participant.getCurrentItemBoldText()}}</b>{{this.participant.getCurrentItemText()}}
    </p>
    Wie nützlich ist dieser Vorschlag für Ihr Unternehmen?
    <form name="estimationForm">
      <table>
        <tr>
          <td>
            <input type="radio" name="estimationType" value="irrelevant" id="irrelevant" />
          </td>
          <td>
            <label for="irrelevant">ist für uns nicht relevant</label>
          </td>
        </tr>
        <tr>
          <td>
            <input type="radio" name="estimationType" value="Zeit" id="Zeit" />
          </td>
          <td>
            <label for="Zeit">spart Zeit, und zwar je Person
              <select name="timeAmount" (click)="activateEstimationType('Zeit')">
                <option value="">-- bitte Dauer wählen</option>
                <optgroup label="pro Tag">
                  <option value="4">ca. 1 Minute pro Tag</option>
                  <option value="20">ca. 5 Minuten pro Tag</option>
                  <option value="60">ca. 15 Minuten pro Tag</option>
                  <option value="120">ca. 1/2 Stunde pro Tag</option>
                  <option value="240">ca. 1 Stunde pro Tag</option>
                  <option value="480">ca. 2 Stunden pro Tag</option>
                </optgroup>
                <optgroup label="pro Woche">
                  <option value="12">ca. 15 Minuten pro Woche</option>
                  <option value="24">ca. 1/2 Stunde pro Woche</option>
                  <option value="48">ca. 1 Stunde pro Woche</option>
                  <option value="96">ca. 2 Stunden pro Woche</option>
                  <option value="192">ca. 1/2 Tag pro Woche</option>
                  <option value="384">ca. 1 Tag pro Woche</option>
                </optgroup>
                <optgroup label="pro Monat">
                  <option value="3">ca. 15 Minuten pro Monat</option>
                  <option value="6">ca. 1/2 Stunde pro Monat</option>
                  <option value="12">ca. 1 Stunde pro Monat</option>
                  <option value="24">ca. 2 Stunden pro Monat</option>
                  <option value="48">ca. 1/2 Tag pro Monat</option>
                  <option value="96">ca. 1 Tag pro Monat</option>
                  <option value="240">ca. 1/2 Woche pro Monat</option>
                  <option value="480">ca. 1 Woche pro Monat</option>
                </optgroup>
                <optgroup label="pro Quartal">
                  <option value="1">ca. 15 Minuten pro Quartal</option>
                  <option value="2">ca. 1/2 Stunde pro Quartal</option>
                  <option value="4">ca. 1 Stunde pro Quartal</option>
                  <option value="8">ca. 2 Stunden pro Quartal</option>
                  <option value="16">ca. 1/2 Tag pro Quartal</option>
                  <option value="24">ca. 1 Tag pro Quartal</option>
                  <option value="60">ca. 1/2 Woche pro Quartal</option>
                  <option value="120">ca. 1 Woche pro Quartal</option>
                </optgroup>
                <optgroup label="pro Jahr">
                  <option value="1">ca. 1 Stunde pro Jahr</option>
                  <option value="2">ca. 2 Stunden pro Jahr</option>
                  <option value="4">ca. 1/2 Tag pro Jahr</option>
                  <option value="8">ca. 1 Tag pro Jahr</option>
                  <option value="20">ca. 1/2 Woche pro Jahr</option>
                  <option value="40">ca. 1 Woche pro Jahr</option>
                  <option value="80">ca. 2 Wochen pro Jahr</option>
                </optgroup>
              </select>
              für insgesamt
              <select name="personAmount" (click)="activateEstimationType('Zeit')">
                <option value="">-- bitte Personenanzahl wählen</option>
                <option value="1">1 Person</option>
                <option value="2">2 Personen</option>
                <option value="3">3 Personen</option>
                <option value="5">ca. 5 Personen</option>
                <option value="10">ca. 10 Personen</option>
                <option value="20">ca. 20 Personen</option>
                <option value="50">ca. 50 Personen</option>
                <option value="100">ca. 100 Personen</option>
              </select>
            </label>
          </td>
        </tr>
        <tr>
          <td>
            <input type="radio" name="estimationType" value="Geld" id="Geld" />
          </td>
          <td>
            <label for="Geld">spart oder bringt Geld, und zwar
              <select name="moneyAmount" (click)="activateEstimationType('Geld')">
                <option value="">-- bitte Betrag wählen</option>
                <option value="500">ca. 500 EUR pro Jahr</option>
                <option value="1000">ca. 1.000 EUR pro Jahr</option>
                <option value="2000">ca. 2.000 EUR pro Jahr</option>
                <option value="5000">ca. 5.000 EUR pro Jahr</option>
                <option value="10000">ca. 10.000 EUR pro Jahr</option>
                <option value="20000">ca. 20.000 EUR pro Jahr</option>
                <option value="50000">ca. 50.000 EUR pro Jahr</option>
                <option value="100000">ca. 100.000 EUR pro Jahr</option>
                <option value="200000">ca. 200.000 EUR pro Jahr</option>
                <option value="500000">ca. 500.000 EUR pro Jahr</option>
                <option value="1000000">ca. 1.000.000 EUR pro Jahr</option>
              </select>
            </label>
          </td>
        </tr>
        <tr>
          <td style="vertical-align:top;">
            <input type="radio" name="estimationType" value="Risiko" id="Risiko" />
          </td>
          <td>
            <label for="Risiko">verringert ein Risiko: Ohne den Vorschlag tritt
              <select name="freqAmountBefore" (click)="activateEstimationType('Risiko')" style="max-width:15em;">
                <option value="">-- bitte Häufigkeit wählen</option>
                <option value="240">ca. einmal pro Tag</option>
                <option value="48">ca. einmal pro Woche</option>
                <option value="12">ca. einmal pro Monat</option>
                <option value="4">ca. einmal pro Quartal</option>
                <option value="1">ca. einmal pro Jahr</option>
                <option value="0.5">ca. alle 2 Jahre (d.h. mit Wahrscheinlichkeit 50% pro Jahr)</option>
                <option value="0.2">ca. alle 5 Jahre (d.h. mit Wahrscheinlichkeit 20% pro Jahr)</option>
                <option value="0.1">ca. alle 10 Jahre (d.h. mit Wahrscheinlichkeit 10% pro Jahr)</option>
                <option value="0.05">ca. alle 20 Jahre (d.h. mit Wahrscheinlichkeit 5% pro Jahr)</option>
                <option value="0.02">ca. alle 50 Jahre (d.h. mit Wahrscheinlichkeit 2% pro Jahr)</option>
                <option value="0.01">ca. alle 100 Jahre (d.h. mit Wahrscheinlichkeit 1% pro Jahr)</option>
                <option value="0.005">ca. alle 200 Jahre (d.h. mit Wahrscheinlichkeit 0,5% pro Jahr)</option>
                <option value="0.002">ca. alle 500 Jahre (d.h. mit Wahrscheinlichkeit 0,2% pro Jahr)</option>
                <option value="0.001">ca. alle 1000 Jahre (d.h. mit Wahrscheinlichkeit 0,1% pro Jahr)</option>
              </select>
              ein Schaden in Höhe von
              <select name="damageAmountBefore" (click)="activateEstimationType('Risiko')">
                <option value="">-- bitte Betrag wählen</option>
                <optgroup label="Geld">
                  <option value="10">ca. 10 EUR</option>
                  <option value="20">ca. 20 EUR</option>
                  <option value="50">ca. 50 EUR</option>
                  <option value="100">ca. 100 EUR</option>
                  <option value="200">ca. 200 EUR</option>
                  <option value="500">ca. 500 EUR</option>
                  <option value="1000">ca. 1.000 EUR</option>
                  <option value="2000">ca. 2.000 EUR</option>
                  <option value="5000">ca. 5.000 EUR</option>
                  <option value="10000">ca. 10.000 EUR</option>
                  <option value="20000">ca. 20.000 EUR</option>
                  <option value="50000">ca. 50.000 EUR</option>
                  <option value="100000">ca. 100.000 EUR</option>
                  <option value="200000">ca. 200.000 EUR</option>
                  <option value="500000">ca. 500.000 EUR</option>
                  <option value="1000000">ca. 1.000.000 EUR</option>
                  <option value="2000000">ca. 2.000.000 EUR</option>
                  <option value="5000000">ca. 5.000.000 EUR</option>
                  <option value="10000000">ca. 10.000.000 EUR</option>
                </optgroup>
                <optgroup label="Zeit">
                  <option value="8.33">ca. 5 Minuten</option>
                  <option value="12.5">ca. 15 Minuten</option>
                  <option value="25">ca. 30 Minuten</option>
                  <option value="50">ca. 1 Stunde</option>
                  <option value="100">ca. 2 Stunden</option>
                  <option value="200">ca. 1/2 Tag</option>
                  <option value="400">ca. 1 Tag</option>
                  <option value="1000">ca. 1/2 Woche</option>
                  <option value="2000">ca. 1 Woche</option>
                </optgroup>
              </select>
              auf. Durch die Umsetzung verringert sich dessen Eintrittswahrscheinlichkeit um
              <select name="riskReduction" (click)="activateEstimationType('Risiko')" style="max-width:15em;">
                <option value="">-- bitte Risikoreduktion wählen</option>
                <option value="0.01">ca. 1%</option>
                <option value="0.02">ca. 2%</option>
                <option value="0.05">ca. 5%</option>
                <option value="0.1">ca. 10%</option>
                <option value="0.3">ca. 30%</option>
                <option value="0.5">ca. 50%</option>
                <option value="0.7">ca. 70%</option>
                <option value="0.9">ca. 90%</option>
                <option value="0.99">ca. 99%</option>
                <option value="1.0">100% (d.h. er kann nicht mehr auftreten)</option>
              </select>
            </label>
          </td>
        </tr>
        <tr>
          <td>
            <input type="radio" name="estimationType" value="unknown" id="unknown" />
          </td>
          <td>
            <label for="unknown">kann ich überhaupt nicht einschätzen</label>
          </td>
        </tr>
      </table>
      <button (click)="this.saveEstimate()">Einschätzung abgeben</button>      
    </form>
  </div>
  <div class="divInMiddle" *ngIf="!this.participant.hasFurtherItems() && !this.participant.hasNoTopVote()">
    Die Abstimmung wurde beendet. Es gibt keine weiteren Einschätzungen abzugeben.
  </div>
</ng-container>
<ng-container *ngIf="state === 'admin'">
  <table class="styled-table">
    <thead>
      <tr>
        <th>Vorschlag</th>
        <th width="15em" class="right">Anzahl Top-Stimmen</th>
        <th width="15em" class="right">Durchschnittliche Bewertung</th>
        <th width="15em" class="right">Std.abweichung</th>
        <th width="15em">Median-Bewertung</th>
        <th>Bewertungen</th>
        <th width="15em" class="right">Anzahl Bewertungen</th>
        <th width="15em" class="right">In Bewertung durch</th>
      </tr>  
    </thead>
    <tbody>
      <tr *ngFor="let item of this.participant.voteSummary.sortedItems">
        <td><b>{{item.boldText}}</b>{{ item.text }}</td>
        <td class="right">{{ item.topVoteCount }}</td>
        <td class="right">{{ item.averageEstimate | number: '1.0-0' : 'de' }}</td>
        <td class="right">{{ item.relativeStandardDeviation | number: '1.0-0' : 'de' }}%</td>
        <td>{{ item.medianEstimate }}</td>
        <td>{{ item.allEstimates }}</td>
        <td class="right">{{ item.finishedKnownEstimateCount }} ({{ item.finishedEstimateCount }})</td>
        <td class="right">{{ item.pendingEstimateCount }}</td>
      </tr>  
    </tbody>
  </table>
  <br/>
  <br/>
  Anzahl abgegebener Top-Stimmen: {{this.participant.voteSummary.topVoteCount}}<br/>
  Minimale Anzahl Bewertungen: {{this.participant.voteSummary.minFinishedEstimateCount}}<br/>
  Minimale Anzahl Bewertungen (ohne unbekannt): {{this.participant.voteSummary.minFinishedKnownEstimateCount}}<br/>
  Maximale Anzahl Bewertungen: {{this.participant.voteSummary.maxFinishedEstimateCount}}<br/>
  Anzahl Vorschläge: {{this.participant.voteSummary.sortedItems.length}}<br/>
  Status: {{this.participant.getState()}} <button (click)="this.participant.setState('ended')">Beenden</button> <button (click)="this.participant.setState('running')">Ende zurücknehmen</button><br/>
  <br/>
  <form name="newItems">
    <textarea name="itemInput" placeholder="Hier neue Vorschläge durch Leerzeilen getrennt einfügen" rows="10" cols="100"></textarea><br/>
    <button (click)="this.addNewItems()">Neue Vorschläge hinzufügen</button>
  </form>
  <br/>
  Admin-Link: <a [href]="this.getAdminLink()">{{ this.getAdminLink() }}</a><br/>
  Teilnehmer-Link: <a [href]="this.getVoterLink()">{{ this.getVoterLink() }}</a><br/>
  <a (click)="this.reconnect()">Neu verbinden ...</a><br/>
  <ideenmesse-peer-status [peer]="this.peer"></ideenmesse-peer-status>
</ng-container>
