<ng-container *ngIf="state === 'initial'">
  <form>
      <button *ngIf="!this.formData.meetingID" (click)="this.initNew()">Neue Abstimmung einrichten</button>
      <button *ngIf="this.isVoter()" (click)="this.joinAsVoter()">Abstimmung starten</button>
      <button *ngIf="this.isAdmin()" (click)="this.joinAsAdmin()">Als Administrator beitreten</button>
      <br/>
      <br/>
      Meeting-ID:
      <input type="text" name="meetingID" [(ngModel)]="this.formData.meetingID" />
  </form>
</ng-container>
<ng-container *ngIf="state === 'chooseModel'">
  Modell auswaehlen
</ng-container>
<ng-container *ngIf="state === 'voter'">
  Ich bin voter
</ng-container>
<ng-container *ngIf="state === 'admin'">
Ich bin admin
  <ideenmesse-peer-status [peer]="this.peer"></ideenmesse-peer-status>
</ng-container>
